/* H1 + HOMELINK */
h1 {
    vertical-align: left;
    display: inline-block;
    position: absolute;
    background-color: #d32d11;
    padding: 20px;
    margin: 0 auto;
    color: #ffb84b;
    font-family: 'Truculenta', sans-serif;
    font-weight: 700;
    margin: 0;
    top: 0px;
    line-height: 1em;
    font-size: 3em;
}
#homeLink {
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    top: 100px;
    background-color: #d32d11;
}
#aboutLink {
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    top: 200px;
    background-color: #d32d11;
}

/* MISC */
html {
    border: 12px solid #d32d11;
    height: 100%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
}
main {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
}
a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
}
.loadText {
    padding-top: 20%;
    text-align: center;
    font-size: 2em;
    font-family: 'Truculenta', sans-serif;
}

/* SELECTORS */
#type {
    vertical-align: middle;
    margin: 0 auto;
    bottom: 20px;
    padding: 10px 20px;
    float: left;
    font-size: 0.8em;
    border: 1px solid #ffb84b;
    margin: 10px;
}
div .pairedCheckboxAndLabel {
    display: inline-block;
    font-family: sans-serif;
    font-weight: normal;
}
#selectors {
    display: inline-block;
    margin: 8% 10% 2% 8%;
}
legend {
    font-size: 1.2em;
    font-family: sans-serif;
}
label {
    margin-left: 5px;
}

/* POKEDEX */
#pokedex {
    display: inline-block;
    height: 70%;
    max-height: 560px;
    min-height: 470px;
    width: 40%;
    position: absolute;
    top: 0px;
    min-width: 550px;
}
#dexImage {
    display: inline-block;
    position: absolute;
    height: 60%;
    width: 60%;
}
#dexImage img {
    height: 100%;
    min-height: 150px;
    max-height: 350px;
    top: 20%;
    left: 10%;
    position: absolute;
    z-index: 2;
}
.dropCap {
    display: inline;
    color: #d32d11;
    font-size: 2em;
    font-family: 'Truculenta', sans-serif;
    font-weight: 900;
}
.continuedText {
    display: inline;
}
#dexText {
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    margin-left: 20px;
    max-width: 380px;
    bottom: 100px;
    line-height: 1.1em;
}
h2 {
    background-color: #d32d11;
    width: 300px;
    display: inline;
    text-align: right;
    padding: 25px 50px 5px 0px;
    color: #ffb84b;
    position: absolute;
    right: 0px;
    margin-top: 0px;
    font-size: 2.5em;
    font-family: 'Truculenta', sans-serif;
}
.backCircle {
    background-color: #251a66;
    border-radius: 50%;
    position: absolute;
    height: 70%;
    width: 70%;
    min-height: 80px;
    max-height: 250px;
    min-width: 80px;
    max-width: 250px;
    left: 25%;
    top: 35%;
    z-index: 0;
}
#dexSidebar {
    background-color: #d32d11;
    width: 150px;
    height: 100%;
    padding: 10px;
    display: inline-block;
}
#dexSidebar p {
    color: white;
}
#evolutionChain {
    height: 100px;
    width: 300px;
    display: inline-block;
    position: absolute;
    left: 195px;
    bottom: 0px;
}
.evoBase,
.evoFirst,
.evoSecond {
    display: inline-block;
    margin-right: 18px;
}
#evolutionChain img {
    display: inline-block;
    height: 90px;
    position: absolute;
    margin-top: 0px;
}
.evoBase img {
    right: 212px;
}
.evoFirst img {
    right: 115px;
}
.evoSecond img {
    right: 15px;
}
#evolutionChain .backCircle {
    position: static;
    margin-top: 10%;
    width: 80px;
    height: 80px;
    background-color: #6bafc9;
}
.evoArrow {
    font-size: 2em;
    position: static;
    display: inline-block;
    color: #d32d11;
}

/* CAROUSEL */
#carousel {
    display: block;
    height: 200px;
    text-align: center;
    position: relative;
    margin-top: 8%;
}
.icon-example {
    font-size: 3em;
    color: #251a66;
}
.icon-example :hover {
    color: #d32d11;
}
.slide img {
    position: absolute;
    top: 15px;
    right: 16px;
}
.slide p {
    position: sticky;
    background-color: white;
    font-size: 1.1em;
    color: #251a66;
    border-radius: 25%;
    text-align: center;
}
#carousel .backCircle {
    position: static;
    width: 105px;
    height: 105px;
}

/* FOOTER */
footer {
    background: #d32d11;
    position: fixed;
    top: 96%;
    padding: 10px;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: 3;
    margin-bottom: -10px;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* BUTTONS */
button {
    background-color: #d32d11;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border: none;
}
#genButton {
    margin-left: 8%;
    height: 50px;
    width: 100px;
    margin-top: 10px;
    display: block;
}
button:hover {
    color: #ffb84b;
}

/* TABLET */
@media screen and (max-width: 900px) {
}

/* MOBILE */
@media screen and (max-width: 550px) {
    h1 {
        font-size: 2.5em;
    }
    header {
        margin: 2%;
    }
    #name {
        font-size: 0.8em;
    }
}
