/* H1 + HOMELINK */
h1 {
    display: inline-block;
    position: absolute;
    background-color: #d32d11;
    padding: 40px 20px 20px 20px;
    color: #ffb84b;
    font-family: 'Truculenta', sans-serif;
    font-weight: 700;
    margin: 0;
    top: -20px;
    line-height: 1em;
    font-size: 3em;
}
#homeLink {
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    top: 100px;
    background-color: #d32d11;
}
#aboutLink {
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    top: 200px;
    background-color: #d32d11;
}

/* MISC */
html {
    height: 100vh;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    border: 12px solid #d32d11;
    margin: 0px;
    height: 100%;
}
main {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
}
#leftChunk {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 520px;
    margin-bottom: 2%;
}
a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
}
.loadText {
    padding-top: 20%;
    text-align: center;
    font-size: 2em;
    font-family: 'Truculenta', sans-serif;
}
#errorImage {
    border: 3px solid #d32d11;
}

/* SELECTORS */
#type {
    padding: 10px 20px;
    float: left;
    font-size: 0.8em;
    border: 1px solid #ffb84b;
    margin: 10px;
}
#selectors {
    display: inline-block;
    top: 100px;
    left: 50px;
    margin: 0% 0% 2% 8%;
    position: absolute;
}
legend {
    font-size: 1.2em;
    font-family: sans-serif;
}
label {
    margin-left: 5px;
}

/* POKEDEX */
.pokedex {
    min-height: 450px;
    max-height: 750px;
    height: 80%;
    width: 550px;
    position: relative;
    float: right;
    margin-bottom: 2%;
}
#pokedexTop {
    display: none;
}
#dexImage {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 300px;
}
#dexImage img {
    height: 100%;
    min-height: 150px;
    top: 20%;
    left: 10%;
    position: absolute;
    z-index: 2;
}
.dropCap {
    display: inline;
    color: #d32d11;
    font-size: 2em;
    font-family: 'Truculenta', sans-serif;
    font-weight: 900;
}
.continuedText {
    display: inline;
}
#dexText {
    display: inline-block;
    position: relative;
    margin: 50px 10px 10px 50px;
    width: 300px;
    line-height: 1.1em;
}
h2 {
    background-color: #d32d11;
    width: 300px;
    display: inline;
    text-align: right;
    padding: 25px 50px 5px 0px;
    color: #ffb84b;
    position: absolute;
    right: 0px;
    margin-top: 0px;
    font-size: 2.5em;
    z-index: 1;
    font-family: 'Truculenta', sans-serif;
}
.backCircle {
    background-color: #251a66;
    border-radius: 50%;
    position: absolute;
    height: 70%;
    width: 70%;
    min-height: 80px;
    max-height: 250px;
    min-width: 80px;
    max-width: 250px;
    left: 25%;
    top: 35%;
    z-index: 0;
}
#dexSidebar {
    background-color: #d32d11;
    position: absolute;
    width: 150px;
    height: 436px;
    right: 0px;
    padding: 80px 10px 10px 10px;
    z-index: 0;
    display: inline-block;
}
#dexSidebar p {
    color: white;
}
#evolutionChain {
    width: 300px;
    display: inline-block;
    position: relative;
    margin-bottom: 2%;
    left: 50px;
}
.evoBase,
.evoFirst,
.evoSecond {
    display: inline-block;
    margin-right: 18px;
}
#evolutionChain img {
    display: inline-block;
    height: 90px;
    position: absolute;
    margin-top: 0px;
}
.evoBase img {
    right: 212px;
}
.evoFirst img {
    right: 115px;
}
.evoSecond img {
    right: 15px;
}
#evolutionChain .backCircle {
    position: static;
    margin-top: 10%;
    width: 80px;
    height: 80px;
    background-color: #6bafc9;
}
.evoArrow {
    font-size: 2em;
    position: static;
    display: inline-block;
    color: #d32d11;
}

/* CAROUSEL */
.carousel {
    display: block;
    text-align: center;
    margin-bottom: 3%;
    position: relative;
}
#topCarousel {
    display: none;
}
.icon-example {
    font-size: 3em;
    color: #251a66;
}
.icon-example :hover {
    color: #d32d11;
}
.slide img {
    position: absolute;
    top: 15px;
    right: 16px;
}
.slide p {
    position: relative;
    background-color: white;
    font-size: 1.1em;
    color: #251a66;
    bottom: 15px;
    border-radius: 25%;
    text-align: center;
}
.carousel .backCircle {
    position: static;
    width: 105px;
    height: 105px;
}

/* FOOTER */
footer {
    background: #d32d11;
    position: fixed;
    top: 96%;
    padding: 10px;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: 3;
    margin-bottom: -10px;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* BUTTONS */
button {
    background-color: #d32d11;
    color: white;
    padding: 5px;
    text-align: center;
    border: none;
}
#genButton {
    height: 50px;
    width: 100px;
    display: block;
}
button:hover {
    background-color: #6bafc9;
}

/* SMALL DESKTOP */
@media screen and (max-width: 1350px) {
    body {
        height: 100%;
    }
}

/* TABLET */
@media screen and (max-width: 1150px) {
    body {
        height: 100%;
    }
    main {
        width: 100%;
    }
    #leftChunk {
        width: 100%;
        margin-bottom: 6%;
    }
    #pokedexBottom {
        display: none;
    }
    #pokedexTop {
        display: block;
    }
    .pokedex {
        min-height: 300px;
        max-height: 600px;
        height: 70%;
    }
    #selectors {
        border: 2px solid #ffb84b;
        width: 300px;
        position: static;
        margin-top: 12%;
        margin-left: 10%;
    }
    .carousel {
        margin: 0px 20px;
    }
}

/* SMALL TABLET OR BIG MOBILE I GUESS */
@media screen and (max-width: 950px) {
    body {
        border: none;
    }
    #leftChunk {
        all: unset;
        display: block;
        margin: 0 auto;
        margin-top: 10%;
    }
    h1 {
        font-size: 2.5em;
        margin: 0 auto;
        padding: 30px 0px 10px 0px;
        width: 100vw;
        text-align: center;
        vertical-align: middle;
    }
    #homeLink,
    #aboutLink {
        font-size: 1.8em;
        background-color: transparent;
        top: 0;
    }
    #aboutLink {
        right: 0;
    }
    header {
        margin: 2%;
    }
    .pokedex,
    #selectors {
        all: unset;
    }
    #selectors {
        width: 90%;
        height: 450px;
        margin: 0 auto;
        position: static;
        display: block;
        margin-bottom: 10%;
    }
    .pokedex {
        height: 70%;
        width: 100%;
        margin-left: 0;
        max-height: 600px;
        min-height: 500px;
        margin-top: 50px;
        display: block;
        position: static;
        margin-bottom: 5%;
    }
    .pokedex .backCircle {
        left: 20%;
        height: 200px;
    }
    #dexImage {
        margin-top: 4%;
    }
    #dexImage img {
        left: 20%;
    }
    #dexText {
        display: block;
    }
    #dexImage {
        height: 250px;
    }
    #dexSidebar {
        padding: unset;
        padding-left: 5px;
    }
    h2 {
        font-size: 2em;
        float: left;
        left: 0;
    }
    #topCarousel {
        display: block;
        margin-bottom: 5%;
    }
    #bottomCarousel {
        display: none;
    }
}
/* PROPER MOBILE */
@media screen and (max-width: 750px) {
    #leftChunk {
        margin-top: 15%;
    }
    #evolutionChain {
        left: unset;
    }
    #dexText,
    #evolutionChain {
        margin-left: 4%;
    }
}
/* ITSY BITSY */
@media screen and (max-width: 450px) {
    #leftChunk {
        margin-top: 20%;
    }
    #evolutionChain {
        display: none;
    }
    #dexText,
    #dexImage {
        margin-left: 4%;
    }
    #dexSidebar {
        padding-top: 20%;
        width: unset;
        height: unset;
        padding-right: 4%;
    }
    .pokedex {
        margin-bottom: 0;
    }
    #dexImage {
        width: unset;
        margin-top: 10%;
    }
    #dexText {
        width: 50%;
        margin-top: 2%;
    }
    #dexImage img {
        height: 200px;
    }
    #dexImage .backCircle {
        height: 150px;
        width: 150px;
    }
}
