/* H1 + HOMELINK */
h1 {
    display: inline-block;
    position: absolute;
    background-color: #d32d11;
    padding: 2% 8% 50px 15%;
    color: #ffb84b;
    font-family: 'Truculenta', sans-serif;
    font-weight: 700;
    margin: 0;
    top: -20px;
    line-height: 1em;
    font-size: 3em;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
}
#homeLink {
    font-size: 2.5em;
    display: block;
    position: absolute;
    top: 100px;
    padding-left: 2%;
    padding-right: 200px;
    background-color: #d32d11;
}
#aboutLink {
    font-size: 2.5em;
    display: block;
    position: absolute;
    top: 200px;
    padding: 50px 500px 100px 2%;
    background-color: #d32d11;
    clip-path: polygon(0% 0%, 100% 0%, 100% -120%, 0% 100%);
}
.linkLabel {
    font-size: 0.4em;
    margin-bottom: 0;
    color: white;
}
#homeIcon,
#aboutIcon {
    margin: 0;
}

/* MISC */
body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    height: 100%;
}
#top,
#left,
#right {
    background: #d32d11;
}
#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
    position: fixed;
}
#left {
    left: 0;
}
#right {
    right: 0;
}

#top {
    left: 0;
    right: 0;
    position: absolute;
    height: 15px;
}
#top {
    top: 0;
}
main {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
}
#leftChunk {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 520px;
    margin-bottom: 2%;
}
a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
}
.loadText {
    padding-top: 20%;
    text-align: center;
    font-size: 2em;
    font-family: 'Truculenta', sans-serif;
}
#errorImage {
    border: 3px solid #d32d11;
}

/* SELECTORS */
.type,
.gen,
.color {
    padding: 10px 20px;
    float: left;
    font-size: 0.8em;
    border: 1px solid #ffb84b;
    margin: 10px;
}
.pairedSelectAndLabel {
    padding: 2%;
}
select {
    display: block;
}
#selectors {
    display: inline-block;
    top: 12%;
    left: 12%;
    margin: 0% 0% 0% 8%;
    padding: 1%;
    width: 450px;
    height: 480px;
    position: relative;
    background-color: white;
    border: 2px solid #ffb84b;
}
legend {
    font-size: 1.2em;
    font-family: sans-serif;
}
label {
    margin-left: 5px;
}

/* POKEDEX */
.pokedex {
    min-height: 450px;
    max-height: 750px;
    height: 80%;
    width: 550px;
    position: relative;
    float: right;
}
#pokedexTop {
    display: none;
}
#dexImage {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 300px;
    bottom: 40px;
}
#dexImage img {
    height: 100%;
    min-height: 150px;
    top: 20%;
    left: 10%;
    position: absolute;
    z-index: 2;
}
.dropCap {
    display: inline;
    color: #d32d11;
    font-size: 2em;
    font-family: 'Truculenta', sans-serif;
    font-weight: 900;
}
.continuedText {
    display: inline;
}
#dexText {
    display: inline-block;
    position: relative;
    margin: 20px 10px 10px 50px;
    width: 300px;
    line-height: 1.1em;
}
h2 {
    background-color: #d32d11;
    width: 300px;
    display: inline;
    text-align: right;
    padding: 2% 50px 50px 0px;
    color: #ffb84b;
    position: absolute;
    right: 0px;
    margin-top: 0px;
    font-size: 2.5em;
    z-index: 1;
    font-family: 'Truculenta', sans-serif;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
}
.backCircle {
    background-color: #251a66;
    border-radius: 50%;
    position: absolute;
    height: 70%;
    width: 70%;
    min-height: 80px;
    max-height: 250px;
    min-width: 80px;
    max-width: 250px;
    left: 25%;
    top: 35%;
    z-index: 0;
}
#dexSidebar {
    background-color: #d32d11;
    position: absolute;
    width: 150px;
    height: 455px;
    right: 0px;
    line-height: 1em;
    padding: 100px 10px 10px 10px;
    z-index: 0;
    display: inline-block;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
#dexSidebar p {
    color: white;
}
#evolutionChain {
    width: 300px;
    display: inline-block;
    position: relative;
    left: 50px;
}
.evoBase,
.evoFirst,
.evoSecond {
    display: inline-block;
    margin-right: 18px;
}
#evolutionChain img {
    display: inline-block;
    height: 90px;
    position: absolute;
    margin-top: 0px;
}
.evoBase img {
    right: 212px;
}
.evoFirst img {
    right: 115px;
}
.evoSecond img {
    right: 15px;
}
#evolutionChain .backCircle {
    position: static;
    margin-top: 10%;
    width: 80px;
    height: 80px;
    background-color: #6bafc9;
}
.evoArrow {
    font-size: 2em;
    position: static;
    display: inline-block;
    color: #d32d11;
}

/* CAROUSEL */
.carousel {
    display: block;
    text-align: center;
    margin: 0% 5% 2% 5%;
    position: relative;
}
#topCarousel {
    display: none;
}
.icon-example {
    font-size: 3em;
    color: #251a66;
}
.icon-example :hover {
    color: #d32d11;
}
.slide img {
    position: absolute;
    top: 15px;
    right: 16px;
}
.slide p {
    position: relative;
    background-color: white;
    font-size: 1.1em;
    color: #251a66;
    bottom: 15px;
    border-radius: 25%;
    text-align: center;
}
.carousel .backCircle {
    position: static;
    width: 105px;
    height: 105px;
}

/* FOOTER */
footer {
    background: #d32d11;
    position: fixed;
    top: 96%;
    padding: 10px;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: 3;
    margin-bottom: -10px;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* BUTTONS */
button {
    background-color: #d32d11;
    color: white;
    padding: 20px;
    font-size: 1.6em;
    line-height: 0.2em;
    font-family: 'Truculenta', sans-serif;
    text-align: left;
    border: none;
}
#genButton {
    height: 45px;
    width: 282px;
    display: block;
    position: relative;
    bottom: 55px;
    left: 10px;
}
button:hover {
    background-color: #6bafc9;
}

/* SMALL DESKTOP */
@media screen and (max-width: 1350px) {
    body {
        height: 100%;
    }
}

/* TABLET */
@media screen and (max-width: 1150px) {
    body {
        height: 100%;
    }
    .loadText {
        margin-right: 4%;
    }
    h1 {
        padding-right: 10%;
        padding-top: 4%;
    }
    #genButton {
        margin-top: 50px;
        position: static;
    }
    #leftChunk {
        width: 100%;
        margin-bottom: 6%;
    }
    #pokedexBottom {
        display: none;
    }
    #pokedexTop {
        display: block;
    }
    .pokedex {
        min-height: 300px;
        max-height: 600px;
        height: 70%;
        width: 520px;
    }
    #dexText {
        margin: 10px 20px 10px 20px;
    }
    #selectors {
        border: 2px solid #ffb84b;
        width: 300px;
        height: fit-content;
        position: static;
        margin-top: 8%;
        margin-left: 10%;
    }
    legend {
        font-size: 1.1em;
    }
    .carousel {
        margin: 50px 20px 50px 20px;
    }
}

/* SMALL TABLET OR BIG MOBILE I GUESS */
@media screen and (max-width: 950px) {
    #top,
    #bottom,
    #left,
    #right {
        display: none;
    }
    #leftChunk {
        all: unset;
        display: block;
        margin: 0 auto;
        margin-top: 10%;
    }
    h1 {
        clip-path: unset;
        font-size: 2.5em;
        margin: 0 auto;
        padding: 40px 0px 20px 0px;
        width: 100vw;
        text-align: center;
        vertical-align: middle;
    }
    #homeLink,
    #aboutLink {
        font-size: 1.8em;
        background-color: transparent;
        top: 0;
        padding: unset;
    }
    #homeLink {
        padding-left: 5%;
    }
    #aboutLink {
        right: 0;
        padding-right: 5%;
        clip-path: unset;
    }
    header {
        margin: 2%;
    }
    .pokedex,
    #selectors {
        all: unset;
    }
    #selectors {
        width: 90%;
        border: 2px solid #ffb84b;
        height: 430px;
        margin: 0 auto;
        position: static;
        display: block;
        margin-bottom: 10%;
    }
    #genButton {
        width: 200px;
        position: static;
        margin-top: 20px;
    }
    .pokedex {
        height: 70%;
        width: 100%;
        margin-left: 0;
        max-height: 600px;
        min-height: 500px;
        margin-top: 12%;
        display: block;
        position: static;
        margin-bottom: 5%;
    }
    .pokedex .backCircle {
        left: 20%;
        height: 200px;
    }
    #dexImage {
        margin-top: 6%;
    }
    #dexImage img {
        left: 20%;
    }
    #dexText {
        display: block;
    }
    #dexImage {
        height: 250px;
    }
    #dexSidebar {
        padding: unset;
        padding-left: 10px;
        padding-top: 10px;
        clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
    }
    h2 {
        font-size: 2em;
        float: left;
        left: 0;
        line-height: 1.8em;
        clip-path: polygon(0% 30%, 100% 0%, 90% 70%, 0% 100%);
    }
    #topCarousel {
        display: block;
        margin-bottom: 5%;
        margin-top: 0;
    }
    #bottomCarousel {
        display: none;
    }
}
/* PROPER MOBILE */
@media screen and (max-width: 750px) {
    #leftChunk {
        margin-top: 20%;
    }
    #selectors {
        height: fit-content;
        padding: 1%;
        width: 50%;
    }
    #evolutionChain {
        left: unset;
    }
    #dexText,
    #evolutionChain {
        margin-left: 4%;
    }
    #genButton {
        clip-path: polygon(0% 0%, 80% 20%, 100% 100%, 10% 80%);
        height: 80px;
        width: 250px;
        padding-left: 30px;
        margin: 20px;
    }
}
/* ITSY BITSY */
@media screen and (max-width: 501px) {
    * {
        float: clear;
    }
    #selectors {
        width: 300px;
        top: 200px;
        margin-bottom: 300px;
        position: relative;
    }
    #leftChunk {
        margin-top: 25%;
        position: static;
    }
    h2 {
        clip-path: polygon(0% 0%, 80% 20%, 100% 100%, 10% 80%);
        text-align: center;
        margin: 0 auto;
        width: 250px;
        display: block;
        z-index: 0;
    }
    #dexText,
    #dexImage,
    #dexSidebar,
    #evolutionChain {
        margin: 0 auto;
        display: block;
    }
    #dexSidebar {
        padding: unset;
        padding-left: 30px;
        padding-top: 20px;
        clip-path: polygon(10% 10%, 100% 0%, 90% 90%, 0% 100%);
        width: 350px;
        height: 200px;
        position: relative;
        top: 350px;
        right: unset;
    }
    .pokedex {
        margin-bottom: 0;
    }
    #dexImage {
        width: 100%;
        height: 120px;
        margin-top: 10%;
        position: relative;
        bottom: 190px;
        left: 80px;
    }
    #dexText {
        width: 80%;
        position: relative;
        top: 275px;
        margin-top: 2%;
    }
    #evolutionChain {
        top: 100px;
    }
    .carousel {
        top: 220px;
    }
    #dexSidebar p,
    #dexSidebar h3 {
        display: inline-block;
        margin: 20px 0px 0px 10px;
        width: fit-content;
    }
    #dexImage img {
        height: 280px;
        top: 2%;
    }
    #dexImage .backCircle {
        height: 200px;
        width: 200px;
    }
}
