* {
    color: black;
    font-family: 'Catamaran', serif;
}
body {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    max-width: 2000px;
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 800px;
}
a {
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px;
}
header {
    vertical-align: left;
    margin: 0 auto;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}
header h1 {
    color: black;
    margin: 0;
    line-height: 1em;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0;
    text-align: left;
}
legend {
    font-size: 1.2em;
    font-family: 'Catamaran', sans-serif;
}
#type {
    vertical-align: middle;
    margin: 0 auto;
    bottom: 20px;
    padding: 10px 20px;
    width: 480px;
    float: left;
    font-size: 0.8em;
}
#gen {
    font-size: 0.8em;
    width: 140px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 10px 20px;
    margin-left: 20px;
    float: left;
}
#generator {
    display: block;
    padding: 10px;
    background-color: black;
    width: 300px;
    height: 180px;
    margin-left: 50px;
    float: left;
}
#generator p {
    padding: 10px;
    text-align: center;
}
#generated {
    background-color: white;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
    margin: 10px auto;
}
button {
    background-color: white;
    border: 1.4px solid dimgrey;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
button:hover {
    border: white;
    background-color: lightgray;
}
button:active {
    background-color: black;
    color: white;
    border: none;
}
div .pairedCheckboxAndLabel {
    display: inline-block;
    width: 80px;
}
button {
    background-color: white;
    border: 1.4px solid dimgrey;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
button:hover {
    border: white;
    background-color: lightgray;
}
button:active {
    background-color: black;
    color: white;
    border: none;
}
footer {
    background: black;
    position: fixed;
    top: 96%;
    padding: 5px;
    width: 100%;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* TABLET */
@media screen and (max-width: 900px) {
}

/* MOBILE */
@media screen and (max-width: 550px) {
    h1 {
        font-size: 2.5em;
    }
    header {
        margin: 2%;
    }
    #name {
        font-size: 0.8em;
    }
}
