body {
    margin: 0 auto;
}
main {
    max-width: 900px;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 800px;
}
header img {
    position: absolute;
    bottom: 86%;
    left: 80%;
    display: inline-block;
}
header {
    vertical-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 1%;
}
.option {
    display: inline-block;
}
.twoGroup {
    display: block;
}
#eth {
    vertical-align: middle;
    margin: 0 auto;
    bottom: 20px;
    padding: 10px 20px;
    width: 480px;
    float: left;
    font-size: 0.8em;
}
#gen {
    font-size: 0.8em;
    width: 140px;
    vertical-align: middle;
    margin: 0 auto;
    padding: 10px 20px;
    margin-left: 20px;
    float: left;
}
#generator {
    display: block;
    padding: 10px;
    background-color: black;
    width: 300px;
    height: 180px;
    margin-left: 50px;
    float: left;
}
#generator p {
    padding: 10px;
    text-align: center;
}
#eth fieldset {
    display: inline-block;
    width: 480px;
    height: 40px;
    margin: 10px;
    margin-top: 4px;
}
#gen fieldset {
    margin: 4px;
    width: 300px;
}
label {
    font-family: 'Catamaran', sans-serif;
}
header h1 {
    color: black;
    margin: 0;
    line-height: 1em;
}
* {
    color: black;
    text-align: center;
    font-family: 'Catamaran', serif;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1em;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0;
    text-align: left;
}
#name {
    font-size: 1em;
    font-family: 'Catamaran', serif;
    text-decoration: overline;
    margin-top: 1px;
    padding-top: 0;
    color: black;
    text-align: center;
}
#generated {
    background-color: white;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
    margin: 10px auto;
}
button {
    background-color: white;
    border: 1.4px solid dimgrey;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
button:hover {
    border: white;
    background-color: lightgray;
}
button:active {
    background-color: black;
    color: white;
    border: none;
}
footer {
    background: black;
    position: fixed;
    top: 96%;
    padding: 5px;
    width: 100%;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.allButton {
    width: 60px;
    height: 20px;
    display: block;
    font-size: 1em;
    line-height: 0.8em;
}

.noneButton {
    width: 80px;
    height: 20px;
    display: block;
    font-size: 1em;
    line-height: 0.8em;
}

.multiButtons {
    display: inline-block;
}

.options {
    display: inline-block;
}

/* TABLET */
@media screen and (max-width: 900px) {
    #generator button {
        margin-bottom: 20%;
    }
    header h1 {
        font-size: 2.5em;
    }
    header img {
        left: 85%;
        height: 40px;
        width: 40px;
    }
    #gen fieldset {
        width: 200px;
        margin-bottom: 30px;
    }
    #generator {
        width: 210px;
        height: 265px;
        float: right;
        margin-top: 30px;
        margin-right: 70px;
        margin-bottom: 10%;
    }
}

/* MOBILE */
@media screen and (max-width: 550px) {
    header h1 {
        font-size: 2em;
        float: left;
        margin-left: 30px;
    }
    header img {
        display: none;
    }
    #name {
        float: left;
        margin-left: 30px;
    }
    .option {
        display: block;
        margin: 2px;
        padding: 0px;
        width: 100px;
    }

    .allButton {
        width: 50px;
        height: 10px;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 0.8em;
        line-height: 0.8em;
    }

    .noneButton {
        width: 50px;
        height: 10px;
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 0.8em;
        line-height: 0.8em;
    }

    header {
        margin-top: 4%;
    }

    #name {
        font-size: 0.8em;
    }

    #generator {
        display: block;
        margin: 0 auto;
        display: block;
        float: left;
        margin-left: 40px;
        margin-bottom: 20%;
    }

    #eth fieldset {
        width: 100px;
        height: 200px;
        float: left;
        margin-left: 20px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #eastEuropean,
    #asian {
        padding-left: 5px;
        padding-right: 0px;
    }

    #european {
        padding-bottom: 30px;
    }

    .twoGroup {
        display: block;
        margin-right: 100px;
    }
}
